<footer class="footer">
  <div class="container footer__grid">
      <div class="footer__col">
          <a href="./#hero" class="logo logo--footer">Helix-Chip</a>
          <p class="footer__tagline">Технологии, которые работают на вас.</p>
          <div class="footer__contacts">
              <a href="tel:+493083914172" class="footer__link"><i data-lucide="phone" size="16"></i> +49 30 83914172</a>
              <a href="mailto:hello@helix-chip.blog" class="footer__link"><i data-lucide="mail" size="16"></i> hello@helix-chip.blog</a>
              <p class="footer__address"><i data-lucide="map-pin" size="16"></i> Friedrichstraße 100, 10117 Berlin, Germany</p>
          </div>
      </div>
      <div class="footer__col">
          <h4 class="footer__title">Навигация</h4>
          <ul class="footer__menu">
              <li><a href="./#about">О платформе</a></li>
              <li><a href="./#benefits">Преимущества</a></li>
              <li><a href="./#innovations">Инновации</a></li>
              <li><a href="./#blog">Практики</a></li>
          </ul>
      </div>
      <div class="footer__col">
          <h4 class="footer__title">Юридическая информация</h4>
          <ul class="footer__menu">
              <li><a href="./privacy.html">Privacy Policy</a></li>
              <li><a href="./cookies.html">Cookie Policy</a></li>
              <li><a href="./terms.html">Terms of Use</a></li>
              <li><a href="./return.html">Return Policy</a></li>
              <li><a href="./disclaimer.html">Disclaimer</a></li>
              <li><a href="./personal-data-policy.html">Personal Data</a></li>
              <li><a href="./contact.html">Contact Us</a></li>
          </ul>
      </div>
  </div>
  <div class="container footer__bottom">
      <p>&copy; 2026 Helix-Chip. Все права защищены. Предложение активно только в странах ЕС.</p>
  </div>
</footer>